.idea
.gradle

*.json
*.obj
*.iml

out
lib

gradle-app.setting
.gradletasknamecache

.project
.settings

.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

*.env
src/lib/target/*
src/lib/wasm-pack.log
src/lib/bin/*
src/lib/pkg/*
