# Server
server.port=your_server_port
cors=your_cors

# Database
spring.jpa.hibernate.ddl-auto=update
spring.datasource.url=jdbc:mysql://your_db_url
spring.datasource.username=your_db_user
spring.datasource.password=your_db_pass

# File Storage
storage.directory=your_storage_directory

# Transcription API
transcription.api.url=your_ts_api_url

# Auth
jwt.ttl.seconds=your_jwt_ttl
jwt.secret=your_jwt_secret

# Misc
spring.jackson.time-zone=America/New_York
spring.main.banner-mode=off

#Logging
logging.pattern.console=%clr(%-5p): %msg%n
logging.level.root=WARN
logging.level.org.springframework.web=INFO
logging.level.org.hibernate=ERROR
logging.level.server=INFO
logging.file.name=/var/log/jolo.log
